.signUpContainer{
   width: 100%;
   height: 100%;
   background-color: #46637f;
}

.signUpForm{
   width: 60%;
   height: 50%;
   background-color: #ffffff;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.action-item {
   margin-left: 20px;
 }
 
 .action-label {
   font-size: 12px;
   color: #d9e2ea;
 }
 
 .action-input {
   box-sizing: border-box;
   height: 40px;
   width: 200px;
   color: #ffffff;
   border: 1px solid #46637f;
   border-radius: 4px;
   background-color: #17202a;
 }

 .action-button {
   width: 80px;
   height: 32px;
   color: #000000;
   font-size: 14px;
   margin-bottom: 18px;
   box-sizing: border-box;
   border: 1px solid rgba(255, 255, 255, 0);
   border-radius: 4px;
   cursor: pointer;
 }

 .button-signUpSubmit{
   background-color: #d9e2ea;
 }

 .error-class {
  font-size: 12px;
  color: #f74a4a;
}

.visible-class {
  font-size: 12px;
  visibility: hidden;
}