/* 表格 */
.table-wrapper {
  background-color: #17202a;
}

.table-div {
  overflow: auto;
}

.table-div table {
  border-collapse: collapse;
  color: #d9e2ea;
  font-size: 12px;
}

.table-div td,
.table-div th {
  border: 1px solid #46637f;
  text-align: left;
  width: 150px;
  height: 37px;
  padding: 8px;
  box-sizing: border-box;
}

.table-div th {
  background-color: #2b3d4e;
  font-weight: bold;
}

.th-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination-wrapper {
  text-align: right;
  padding: 0 10px 10px 0;
}

.ant-pagination-total-text {
  color: #bae7ff;
}

/* 底部数据 */
.data-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-size: 14px;
  color: #ffffff;
}

.data-items {
  display: flex;
  flex-wrap: wrap;
}

.data-red {
  color: #ff7a75;
}

.data-item {
  margin-right: 20px;
}

.data-blue {
  color: #97afc6;
}

.data-green {
  color: #00ea6c;
}

.data-records {
  color: #80aff8;
}

.empty-table {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}